.bar_shelf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(62, 32, 16);
    height: 800px;
}

.shelf_row {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: rgb(48, 17, 10);
    height: 200px;
    margin: 25px;
}

.shelf_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 8, 1);
    height: 175px;
    width: 175px;

}



.item {
    height: 100px;
    width: 50px;
    cursor: pointer;
    position: absolute;
}


/*alc ids*/

#vodka {
    background-color: aliceblue;
}

#tequilla {
    background-color: rgb(199, 145, 74);
}

#rum {
    background-color: rgb(94, 46, 10);
}

#gin {
    background-color: rgb(75, 203, 220);
}

/*syrups ids*/

#grenadine {
    background-color: rgb(255, 0, 85);
    height: 50px;
    width: 50px;
}

#bitters {
    background-color: rgb(111, 78, 45);
    height: 50px;
    width: 50px;
}

#oj {
    background-color: rgb(255, 128, 0);
    height: 50px;
    width: 50px;
}
#tonic {
    background-color: rgb(202, 207, 209);
    height: 50px;
    width: 50px;
}
/*garnish ids*/

#cherries {
    background-color: rgb(141, 3, 3);
    height: 25px;
    width: 25px;
}
#lime {
    background-color: rgb(47, 214, 28);
    height: 25px;
    width: 25px;
}
#salt {
    background-color: rgb(207, 209, 202);
    height: 25px;
    width: 25px;
}
#sugar {
    background-color: rgb(231, 244, 241);
    height: 25px;
    width: 25px;
}



.following {
    box-shadow: 0 0 20px black;
}