.bar_shelf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(62, 32, 16);
    height: 800px;
}

.shelf_row {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: rgb(48, 17, 10);
    height: 200px;
    margin: 25px;
}

.shelf_container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 8, 1);
    height: 175px;
    width: 175px;

}

.counter {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(106, 61, 37);
    height: 400px;
}

.shaker {
    background-color: rgb(48, 55, 79);
    height: 300px;
    width: 100px;

}

.menu {
    background-color: rgb(216, 189, 174);
    height: 350px;
    width: 200px;
}

.glass{
    background-color: rgb(203, 218, 220);
    height: 350px;
    width: 200px;
}

.item {
    pointer-events: none;
    height: 100px;
    width: 50px;

    position: absolute;
}


/*alc ids*/

#vodka {
    background-color: aliceblue;
}

#tequilla {
    background-color: rgb(199, 145, 74);
}

#rum {
    background-color: rgb(94, 46, 10);
}

#gin {
    background-color: rgb(75, 203, 220);
}

/*syrups ids*/

#grenadine {
    background-color: rgb(255, 0, 85);
    height: 50px;
    width: 50px;
}

#lj {
    background-color: rgb(64, 201, 89);
    height: 50px;
    width: 50px;
}

#oj {
    background-color: rgb(255, 128, 0);
    height: 50px;
    width: 50px;
}

#tonic {
    background-color: rgb(202, 207, 209);
    height: 50px;
    width: 50px;
}

/*garnish ids*/

#cherries {
    background-color: rgb(141, 3, 3);
    height: 25px;
    width: 25px;
}

#lime {
    background-color: rgb(47, 214, 28);
    height: 25px;
    width: 25px;
}

#salt {
    background-color: rgb(207, 209, 202);
    height: 25px;
    width: 25px;
}

#sugar {
    background-color: rgb(231, 244, 241);
    height: 25px;
    width: 25px;
}



.following {
    box-shadow: 0 0 20px black;
}